
nav{
  display: grid;
  overflow:scroll;
  grid-template-areas: "logo logo list list list";
  background-color: white;
}
nav>img{
  grid-area:logo;
  padding-left: 80%;
  padding-top:10px;
}
nav>ul{
  grid-area:list;
  list-style-type: none;
  display:inline-flex;
  gap: 10px;
  padding-left: 10%;
}

nav>ul>li>a{
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  nav{
    overflow:hidden;
    background-color: red;
  }
  nav>img{
    padding-top:10px;
  }
  nav>ul{
    list-style-type: none;
    gap: 10px;
    padding-left: 10%;
  }
  nav>ul>li>a{
    text-decoration: none;
    display: inline-block;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
